// Colors
$smokeTree: #bf5933;
$sun: #ef8c37; // #F08D38
$raven: #6c727f;
$whiteSmoke: #f4f4f4;
$thistle: #d3d2d3;
$deadrusian: #0a1429;
$whisper: #ebebeb;
$chelseaCucumber: #90b748;
$atlantis: #9ac54b; // #A1D443
$ecstasy: #c8623c;
$gainsboro: #d9d9d9;
$limeGreen: #35bb25; // #3AC047
$denim: #2f6ec5;
$white: #ffffff;
$atlantis: #9ac54b;
$atlantis20: #86d845;
$sushi: #79a52a;

// Font sizes
$font-md: 14px;
